<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Coin</h1>
    <img src="<%=Coin.img%>" width=500px>

    <ul>
        <li>
            <h2>Country</h2>
            <h3>
                <%=Coin.country %>
            </h3>

        </li>
        <li>
            <h2>Year</h2>
            <h3><%=Coin.year %></h3>
        </li>
        <li>
            <h2>Quantity</h2>
            <h3>
                <%=Coin.quantity %>
            </h3>
        </li>

        <li>
            <h2>Grade (Mint State)</h2>
            <h3>
                <%=Coin.grade%>
            </h3>

        </li>
        <li>
            <h2>Value</h2>
            <h3>
                <%=Coin.value%>
            </h3>
        </li>



    </ul>



    <button><a href="/">Back</a></button>
    <style>
        body {
            background-color: rgb(63, 20, 220);
            text-align: center;
        }

        ul {
            list-style-type: none;
        }

        li {
            display: inline-flex;
        }
    </style>
</body>

</html>